*{
    margin: 0%;
    padding: 0%;
}

.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.btn:hover
{
    box-shadow: 10px 10px 10px #000000;
    background-color: indianred;
} 
