.background
{
    background-image: url("bridge.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.title
{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    position: fixed; /** makes sure the title windata doesnt move from its place */
    top:17%;
    left:60%;
    margin-top: -100px;
    margin-left: -200px;
    color: #ffffff;   
}