.background
{
    position: fixed;
    background-image: url("bridge.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.title
{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    position: fixed; /** makes sure the title windata doesnt move from its place */
    top:17%;
    left:60%;
    margin-top: -100px;
    margin-left: -200px;
    color: #ffffff;
    justify-content: center;   
}

.container
{  
    text-align: center;  
    width: 500px;  
    height: 500px;  
    padding-top: 250px;
    padding-right: 100px;
    padding-left: 430px;
    position: relative;
}  
.open-data
{  
    font-size: 25px;
    background-color: Transparent;
    border: 1px solid black;
}

.open-data:hover
{
    border:0px;
    color: white;
}

.btn:hover
{
    box-shadow: 10px 10px 10px #000000;
    background-color: indianred;
    color: white;
} 

.buttons
{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}