<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Election 2010</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/election2010.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <h2 class="h2">WinData Catalogue</h2>
            <h3 class="h3">Elections results 2010</h3>
            <hr>
            <div class="card w-100" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Data Custodian:</h5>
                  <p class="card-text">Manager, Records & Elections.</p>
                  <h5 class="card-title">Data Currency Comments:</h5>
                  <p class="card-text">The files were posted on December 2010.</p>
                  <h5 class="card-title">Dataset Description:</h5>
                  <p class="card-text">These point file contain information for the Candidate Name, Total for that specific Office.</p>
                  <h5 class="card-title">Data Accuracy Comments:</h5>
                  <p class="card-text">City of Windsor Municipal Election 2010 Data Official Results.</p>
                  <h5 class="card-title">Attributes:</h5>
                  <p class="card-text">The attributes include the Ward, Poll, Poll Name, Office Title, Candidate, Total, and Notes.</p>
                  <h5 class="card-title">Relevant Downloads:</h5>
                  <a href="../Iteration I/testing/OfficialElection2010.xls" download>Election2010.xls</a>
                  <br><br>
                  <a href="opendata.html" class="btn btn-primary bleh">Go Back</a>
                  <a href="opendata.html" class="btn btn-primary">Visualize Data</a>

                </div>
              </div>
        </div>
    </body>
</html>