<html>

<head>
    <title>WinData</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="background">

    <h1 class="title">WinData</h1>
    <div text-align="center" class="container">

        <div class="buttons">

            <button type="button" class="btn btn-primary btn-lg">Open Data</button>

        </div>

    </div>
    <div class="box">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Data</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
  </div>
  </div>
</div>









</body>

</html>