<html>

<head>
<title> WinData </title>
<link rel="stylesheet" href= {{url_for('static', filename='style.css')}}> 
<link rel="icon" href="../images/favicon.png">
</head>


<body style="background-color:powderblue;">
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
    <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Submit</button>
    </form>
  </div>
  </ul>
  <img src="../images/bridge.jpg" alt="Windsor Bridge" style="width:1500px;height:500px;">

</body>
</html>