<html>

<head>
  <title>WinData</title>
  <link rel="stylesheet" href="../static/opendata.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="icon" href="../static/favicon.png">

  <meta name="viewport" content="width=device-width">
</head>

<body>
  <div class="parent">
    <div class="child">
      <div class="row">
        <div class="col-lg-12">
          YQG Data Portal
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="para">
            <p>
              WinData is a new way to access data portals. Forget the old ways of downloading the files, now you can
              view it directly in your browser and increase your productivity. You can also download the files if you
              want with just one simple click away.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"
          src="https://media.istockphoto.com/photos/presidential-election-day-voting-concept-picture-id611606520"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Official Election 2010</h5>
          <p class="card-text">This dataset is about the official elections from 2010. You will find the votes and
            runners in the election</p>
          <a href="#" class="btn btn-primary">Go to Dataset</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"
          src="https://media.istockphoto.com/photos/presidential-election-day-voting-concept-picture-id611606520"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Official Election 2010</h5>
          <p class="card-text">This dataset is about the official elections from 2010. You will find the votes and
            runners in the election</p>
          <a href="#" class="btn btn-primary">Go to Dataset</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"
          src="https://media.istockphoto.com/photos/presidential-election-day-voting-concept-picture-id611606520"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Official Election 2010</h5>
          <p class="card-text">This dataset is about the official elections from 2010. You will find the votes and
            runners in the election</p>
          <a href="#" class="btn btn-primary">Go to Dataset</a>
        </div>
      </div>
    </div>
  </div>


</body>

</html>